.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover,
  &:focus {
    color: var(--color-grey-dark-1);
    animation: pulsate 1s infinite;
  }

  &:focus {
    outline: none;
  }
}