.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform .2s ease-in, width .2s ease-out .2s, background-color 0.2s linear;
    }

    &:hover:before,
    &--active:before {
      transform: scaleY(1);
      width: 100%;
    }

    &:active:before {
      background-color: var(--color-primary-light);
    }
  }

  &__link:link,
  &__link:visited {
    position: relative;
    z-index: 1;
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 1.5rem 3rem;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
  }

  @media screen and (max-width: $bp-medium) {
    display: flex;
    margin: 0;

    .side-nav__item {
      margin: 0;
      flex: 1;
    }

    .side-nav__link:link,
    .side-nav__link:visited {
      justify-content: center;
      padding: 2rem;
    }
  }

  @media screen and (max-width: $bp-small) {

    .side-nav__icon {
      margin-right: 0;
      margin-bottom: 0.5rem;
      width: 1.5rem;
      height: 1.5rem;
    }

    .side-nav__link:link,
    .side-nav__link:visited {
      flex-direction: column;
      justify-content: center;
      padding: 1.5rem 1.5rem;
    }
  }
}