.description {
  background-color: var(--color-white);
  flex: 0 0 60%;
  margin-right: 3.5rem;
  box-shadow: var(--shadow-light);
  padding: 3rem;

  @media screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }
}