.detail {
  font-size: 1.4rem;
  display: flex;
  background-color: var(--color-grey-light-1);
  padding: 3.5rem;
  border-bottom: var(--line);

  @media screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  @media screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}