.navigation {

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary, $color-primary-dark);
    z-index: 1000;
    transition: transform 0.4s linear;
  }

  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1001;
    opacity: 0;
    transition: opacity 0.4s 0.2s linear;
  }

  &__checkbox {
    display: none;
  }

  &__toggle-button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 1002;
    box-shadow: 0 1.5rem 3rem rgba($color-black, .1);
  }

  &__list {
    position: absolute;
    list-style: none;
    text-align: center;
    @include positionContent();
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      position: relative;
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.4s linear;
      overflow: hidden;

      span {
        margin-right: 1rem;
        display: inline-block;
      }
    }

    &::after {
      z-index: -1;
      content: "";
      position: absolute;
      width: 150%;
      height: 100%;
      top: 0;
      right: 0;
      transform: translateX(101%);
      clip-path: polygon(5rem 0, 100% 0, 100% 100%, 0 100%);
      background-color: $color-white;
      transition: transform 0.4s linear;
    }

    &:hover,
    &:active {
      color: $color-primary;

      &::after {
        transform: translateX(0);
      }
    }

  }

  &__checkbox:checked ~ &__background {
    transform: scale(100);
  }

  &__checkbox:checked ~ &__nav {
    z-index: 1001;
    opacity: 1;
  }
}