@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin positionContent($top: 50%, $left: 50%) {
  transform: translate(-$top, -$left);
  top: $top;
  left: $left
}

@mixin absCenter() {
  position: absolute;
  @include positionContent();
}