@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin positionContent($top: 50%, $left: 50%) {
  transform: translate(-$top, -$left);
  top: $top;
  left: $left
}

@mixin absCenter() {
  position: absolute;
  @include positionContent();
}

// MEDIA QUERY MANAGER
/*
  0 - 600px Phone
  600 - 900px Tablet Portrait
  900 - 1200px Tablet Landscape
  [1200-1800] is where normal styles apply
  1800px +: Bix Desktop
*/

/**
  $breakpoint argument choices
  - phone
  - tab-port
  - tab-land
  - big-desktop

  1em - 16px
 */
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    // 600px
    @media (max-width: 37.5em) {
      @content;
    }
  }

  // 900px
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }

  // 1200px
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }

  // 1800px
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}