* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.buttons {
  border-radius: 8px;
  position: fixed;
  top: 5px;
  left: 50%;
  padding: 1rem;
  background-color: #ddd;
  opacity: 0.75;
  transform: translateX(-50%);
}

.buttons > button {
  padding: 1rem;
  border-radius: 8px;
  background-color: #272727;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  border: none;
  font-weight: 700;
  transition: all 0.3s;
}

.buttons > button:hover,
.buttons > button:focus {
  color: orangered;
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.75);
}

.buttons > button:active {
  transform: translateY(2px);
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #272727;
  color: #fff;

  display: grid;
  grid-template-columns: repeat(12, minmax(150px, 250px));
  /*grid-template-rows: repeat(1, minmax(150px, 250px));*/
  grid-auto-columns: 150px;
  grid-auto-rows: 150px;
  /*justify-items: center;*/
  /*align-items: center;*/
  /*place-items: center center;*/
  grid-auto-flow: dense;

  /*justify-content: space-between;*/
  /*align-content: center;*/
  /*place-content: center space-between;*/
}

.item {
  padding: 2rem;
  border: 2px solid transparent;
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.item:hover {
  color: goldenrod;
  border-color: #fff;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.65);
}

.item--1 {
  background-color: orangered;
}

.item--2 {
  background-color: green;
}

.item--3 {
  background-color: violet;
}

.item--4 {
  background-color: pink;
}

.item--5 {
  background-color: blue;
}

.item--6 {
  background-color: brown;
}